# .gitignore for Play! framework

# IDE support files
.classpath
.project
.settings
/*.launch
/*.tmproj
/eclipse

# logs
stacktrace.log

# tests
/test/reports
/target
/tmp
/test-result
cobertura.ser

# project release file
*.war
